body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
}

.footer-wrapper {
  text-align: center;
  font-size: 12px;
  padding: 10px;
}

.footer-wrapper strong {
  font-weight: bold;
}

.footer-wrapper a {
  color: blue;
  text-decoration: none;
}

.footer-wrapper a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}
