.footer-wrapper {
  text-align: center;
  font-size: 12px;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-wrapper strong {
  font-weight: bold;
}

.footer-wrapper a {
  color: blue;
  text-decoration: none;
}

.footer-wrapper a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}
