<ion-header>
  <ion-toolbar>
    <ion-title>
      Calculadora Nutricional
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label>Sistema de Medida</ion-label>
    <ion-select [(ngModel)]="system">
      <ion-select-option value="metric">Métrico (kg/cm)</ion-select-option>
      <ion-select-option value="imperial">Imperial (lb/ft/in)</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Sexo</ion-label>
    <ion-select [(ngModel)]="sexo">
      <ion-select-option value="Hombre">Hombre</ion-select-option>
      <ion-select-option value="Mujer">Mujer</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Edad</ion-label>
    <ion-input type="number" [(ngModel)]="edad"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label position="floating">Peso ({{system == 'metric' ? 'kg' : 'lb'}})</ion-label>
    <ion-input type="number" [(ngModel)]="peso"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Altura ({{system == 'metric' ? 'cm' : 'ft/in'}})</ion-label>
    <ion-input type="number" [(ngModel)]="altura"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Cuello ({{system == 'metric' ? 'cm' : 'in'}})</ion-label>
    <ion-input type="number" [(ngModel)]="cuello"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Cintura ({{system == 'metric' ? 'cm' : 'in'}})</ion-label>
    <ion-input type="number" [(ngModel)]="cintura"></ion-input>
  </ion-item>
  <ion-item *ngIf="sexo == 'femenino'">
    <ion-label position="floating">Cadera ({{system == 'metric' ? 'cm' : 'in'}})</ion-label>
    <ion-input type="number" [(ngModel)]="cadera"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label>Nivel de actividad</ion-label>
    <ion-select [(ngModel)]="actividad">
      <ion-select-option value="Activo">Activo</ion-select-option>
      <ion-select-option value="Moderado">Moderado</ion-select-option>
      <ion-select-option value="Sedentario">Sedentario</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-button color="success" expand="full" (click)="calcular()">Calcular</ion-button>
  <ion-button color="danger" expand="full" (click)="borrar()">Borrar</ion-button>


  <!-- Resultados -->
  <ion-card *ngIf="imc || grasaCorporal || indiceCinturaAltura || sobrepeso || caloriasMinimas || caloriasPerder || caloriasGanar || consumoProteinas">
    <ion-card-content>
      <h2>Resultados:</h2>
      <p class="result-highlight" *ngIf="imc">IMC: {{imc | number:'1.2-2'}}kg/m²</p>
      <p class="result-highlight" *ngIf="grasaCorporal">Índice de grasa corporal: {{grasaCorporal | number:'1.2-2'}}%</p>
      <p class="result-highlight" *ngIf="indiceCinturaAltura">Índice cintura-altura: {{indiceCinturaAltura | number:'1.2-2'}}</p>
      <p class="result-highlight">Masa corporal magra: {{ masaCorporalMagra | number:'1.2-2' }} kg</p>
      <hr>
      <p *ngIf="enPesoIdeal()">Se encuentra dentro de un peso ideal</p>
      <p *ngIf="!enPesoIdeal() && sobrepeso > 1">Le sobran {{sobrepeso | number:'1.0-0'}}kg para su peso ideal</p>
      <p *ngIf="!enPesoIdeal() && sobrepeso < -1">Le faltan {{-sobrepeso | number:'1.0-0'}}kg para su peso ideal</p>
      <p *ngIf="caloriasMinimas">Calorías mínimas necesarias: {{caloriasMinimas | number:'1.0-0'}}</p>
      <p *ngIf="caloriasPerder">Calorías para perder 0.5kg/semana: {{caloriasPerder | number:'1.0-0'}}</p>
      <p *ngIf="caloriasGanar">Calorías para ganar 0.5kg/semana: {{caloriasGanar | number:'1.0-0'}}</p>
      <p *ngIf="consumoProteinas">Consumo de proteínas diarias: {{consumoProteinas | number:'1.0-0'}}gr</p>
      <ion-button (click)="presentModal()">Advertencia</ion-button>
    </ion-card-content>
  </ion-card>
  <app-footer></app-footer>
  </ion-content>
