.result-highlight {
  font-weight: bold;
}

hr {
  border: 1px solid #000;
  margin: 10px 0;
}

.atention {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 16px; /* Ajusta el margen superior según tus necesidades */
}
